name: 'notification_service'

services:
  
  domic.notification.service:
    networks:
      - domic
    image: domic_notification_service_image:1.0.0
    container_name: "domic_notification_service"
    env_file:
      - ~/services/Configs/Domic-NotificationService/.env
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "1120-1140:443"
    volumes:
      - ~/services/Logs/Domic-NotificationService/:/app/CoreLogs/
      - ~/services/Domic-NotificationService/.https/:/https/
    environment:
      - Elastic-Host=http://domic.elastic.search:9200
      - Elastic-Index=ticket
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=domic.redis:6379
#     - I-RedisConnectionString=domic.notification.redis:6379
      - MongoConnectionString=
      - C-SqlServerConnectionString=Server=domic.sql.server,1433;Database=NotificationService;User ID=sa;Password=Domic123!@#;Persist Security Info=True;MultipleActiveResultSets=True;
#     - C-SqlServerConnectionString=Server=domic.notification.command.sql.server,1433;Database=NotificationService;User ID=sa;Password=Domic123!@#;Persist Security Info=True;MultipleActiveResultSets=True;
      - Q-SqlServerConnectionString=
      - SMS_IR_KEY=${SMS_IR_KEY}
      - Host=domic.notification.service
      - Port=443
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx
  
#   depends_on:
#     - domic.notification.command.sql.server
#     - domic.notification.redis
  
# domic.notification.command.sql.server:
#   networks:
#     - domic
#   image: 'mcr.microsoft.com/mssql/server'
#   container_name: "domic_notification_command_sql_server"
#   ports:
#     - 1533:1433
#   environment:
#     - ACCEPT_EULA=Y
#     - SA_PASSWORD=Domic123!@#

# domic.notification.redis:
#   networks:
#     - domic
#   image: 'redis'
#   container_name: 'domic_notification_redis'
#   command: 'redis-server'
#   ports:
#     - 6380:6379
    
networks:
  domic:
    external: true